[Unit]
Description=Router Pi Controller
After=network-online.target
Wants=network-online.target

[Service]
Type=simple

User=router_controller
Group=router_controller

ExecStart=/usr/bin/router_controller

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target