#!/usr/bin/make -f

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_test:
	python3 -m pytest -v

override_dh_auto_install:
	dh_auto_install
	dh_installdirs var/lib/router-pi-controller
	install -D -m 0644 \
		packaging/systemd/router-controller.service \
		debian/router-pi-controller/usr/lib/systemd/system/router-controller.service